aiohttp==3.6.3; python_full_version >= "3.5.3"
async-timeout==3.0.1; python_full_version >= "3.5.3"
attrs==20.3.0; python_full_version >= "3.5.3"
cffi==1.14.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
chardet==3.0.4; python_full_version >= "3.5.3"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
discord.py==1.5.1; python_full_version >= "3.5.3"
dnspython==2.0.0; python_version >= "3.6"
flask==1.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
idna-ssl==1.1.0; python_version < "3.7" and python_full_version >= "3.5.3"
idna==2.10; python_version < "3.7" and python_full_version >= "3.5.3" and python_version >= "3.5"
itsdangerous==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jinja2==2.11.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
markupsafe==1.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
multidict==4.7.6; python_version >= "3.5" and python_full_version >= "3.5.3"
pycparser==2.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pynacl==1.4.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
python-dotenv==0.15.0
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
typing-extensions==3.7.4.3; python_version < "3.7" and python_full_version >= "3.5.3" and python_version >= "3.5"
werkzeug==1.0.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
yarl==1.5.1; python_version >= "3.5" and python_full_version >= "3.5.3"
