<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>johndo3</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link href="img/profile.png" rel="icon" type="image/png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="script.js">

	</script>
</head>

<body>

	<div class="container">
		<!--─────────────────Home────────────────-->
	  <div id="home">
		 <div class="filter"></div>
		 <section class="intro">
		  <h3>The CarlosDiscord Project<hr></h3>
			  
		  <!--────social media links─────-->
			  <a href="https://discord.gg/6GPjN8C" target="_blank"><i class="fab fa-discord"></i></a>        
		  </div>
			 
		 </section> 
	  </div>  
	</div>

	</main>
	  <footer class="copyright">© 2020 
		  <a href="https://repl.it/@johndo3" target="_blank"> johndo3.</a>
     </footer>
	  
  </div>
  </body>
</html>